include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
include install.json
recursive-include wordslab_notebooks_lib/labextension *
include package.json
include tsconfig.json
graft wordslab_notebooks_lib/labextension
graft src
recursive-exclude * __pycache__
